.primary_btn {
  background-color: #099eac;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}
.btn-green {
  background-color: #19ac09;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}
.btn-red {
  background-color: #ac1c09;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}
.primary_btn:hover {
  background-color: #06808b;
}

.input-field {
  margin: 1.5%;
  margin-left: 5px;
  color: #8a8a8a;
  /* display: block; */
  height: 32px;
  padding: 5px 3%;
  border: 1px solid #ccc;
  background-color: #fff;
  font-family: "HelveticaNeue", "Arial", sans-serif;
  font-size: 105%;
  letter-spacing: 0.8px;
}
.mt-5 {
  margin-top: 5px;
}
.center-block{
  text-align: center;
}

.logo-image-container {
  margin: 0 auto; /* center the container horizontally */
  width: 150px; /* set the width of the container */
  height: 150px; /* set the height of the container */
  overflow: hidden; /* hide the overflow */
}

.logo-image-container img {
  width: 100%; /* set the width of the image to 100% */
  border-radius: 50%; /* set the border radius to 50% to make the image circular */
}
.mtop-x{
  margin-top: 20px;
}

.text-danger {
  color: #dc3545 !important;
}
.verified{
  color: #19ac09;
}
.primary{
  color: #6309ac;
}

.ctrlHolder{
  padding: 15px;
}