{% extends "custom/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block head_title %}{% trans "Change Password - FactJano" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
            {% comment %} <label for="{{ field.name }}">{{ field.label }}</label> {% endcomment %}
            {% render_field field class+="input-field" placeholder=field.label %}
                    {% if field.errors %}
                    <div class="text-danger">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            {% endfor %}
            <input class='primary_btn mtop-x' type="submit" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% endif %}
{% endblock %}
