{% extends "custom/base.html" %}

{% load i18n %}
{% load widget_tweaks %}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% for field in form %}
            <div class="form-group">
            <label class='signup-label' for="{{ field.name }}">{{ field.label }}</label>
            <br/>
            {% render_field field class+="input-field mt-5" placeholder=field.label %}
                    {% if field.errors %}
                    <div class="text-danger">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            {% endfor %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primary_btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
